*, 
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #def2f1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    min-height: 100vh;
    --star-size: 25px;
    --star-color: #def2f1;
    --star-background: #2b7a78;
}
.wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.header {
    color: #def2f1;
    font-weight: 750;
    background: linear-gradient(to right, #3aafa9, #2b7a78);
    padding: 15px;
    height: 50px;
    text-align: end;
    width: 100%;
}

#header-anchor {
    color: #17252a;
}

.topbar {
    color: #3aafa9;
    background-color: #17252a;
    padding: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
}

a.home_button {
    font-size: larger;
    font-variant: initial;
}

a.home_button.current {
    color: #2b928f;
    text-shadow: 1px 1px 5px #2b7a78;
}

a.topbar_link {
    color: #2b928f;
    font-size: large;
    padding-left: 10px;
}

a.topbar_link.current {
    color:#feffff;
    text-shadow: 2px 2px 5px #def2f1;
}

.main {
    padding: 40px;
    text-align: left;
    width: 100%;
    max-width: 960px;
}

.hidden {
    display: none !important;
}

footer {
    margin-top: auto;
    text-align: center;
    background: linear-gradient(to right, #3aafa9, #2b7a78);
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-style: italic;
}

#author-quote {
    padding: 10px;
    margin-top: 10px;
    font-size: small;
}

#search-box {
    margin-bottom: 15px;
    background-color: #feffff;
    border: 2px solid #2b928f;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    width: 50%;

}

#search-box:focus {
    -moz-box-shadow: 0 0 8px #2b928f;
    -webkit-box-shadow: 0 0 8px #2b928f;
    box-shadow: #2b928f 0 0 8px;
    border: 1px solid #2b928f;
    
}

#search-clear {
    background-color: #2b7a78;
    color: #feffff;
    border: 1px solid #195351;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-size: large;
    line-height: 1;
    text-align: center;
}

#search-nores {
    padding-top: 15px;
}

a {
    color: #2b7a78;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

div.bookname {
    font-variant: initial;
    font-size: larger;
    font-weight: 600;
    color: #195351;
}
div.author {
    font-style: italic;
}

#start-reading {
    background-color: #2b7a78;
    color: #feffff;
    padding: 5px;
    border: 1px solid #195351;
}

h1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.error {
    color: red;
}

ul {
    padding: 0px;
}
li {
    display: block;
    margin-block-end: 20px;
    padding: 15px;
    background-color: #feffff;
    box-shadow: #2b7a775d 3px 3px 3px;
}

li:hover {background-color: #3aafa973;}

.coverwrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.sidetocover {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.textcontent {
    padding-bottom: 15px;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


article {
    padding-top: 10px;
    margin-right: 60px;
    text-indent: 30px;

}

img {
    max-width: 10em;
    object-fit: contain;
    padding: 10px;
    display: block;
}

button,
input {
    outline: none !important;
}

button {
    cursor: pointer;
}

.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-darker-layer {
    background: linear-gradient(to right, #3aafa9, #2b7a78, #195351);
    padding: 25px;
    width: 550px;

}

.form-style {
    background-color: #feffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #2b7a78;
    width: 100%;
    max-width: 550px;
    border-radius: 60px 0 60px 0;
}

.form-section {
    padding-bottom: 15px;
}

.form-label {
    padding-bottom: 8px;
}

.form-box {
    padding: 5px;
    border: 1px solid #2b7a78;
    background-color: #def2f1;
    width: 55%;
}

.form-box:focus {
    outline: none !important;
    box-shadow: #2b7a78 0 0 3px;
}

#synopsis-box {
    height: 100px;
}

.button {
    border: none;
    padding: 10px;
    background-color: #2b928f;
    color: #feffff;
}

.flashmessage{
    background-color: #def2f1;
    color: #17252a;
    padding: 20px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    transition: opacity 0.5s;
}

.flashmessage.dismissed {
    pointer-events: none;
    opacity: 0;
}

.flashmess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
}

.dismiss {
    background-color: transparent;
    color: #17252a;
    padding: 5px;
    font-size: large;
    border: none;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
  
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-rating-wrapper {
    display: inline-flex;
}

.star-rating {
    width: var(--star-size);
    height: var(--star-size);
    font-size: var(--star-size);
    color: transparent;
    font-family: Times;
    line-height: 1;
}

.star-rating::before {
content: '★';
color: var(--star-color);
}

.star-rating.highlighted:before,
.star-rating:hover:before {
    color: var(--star-background);
}
