*, 
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #def2f1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

.header {
    color: #def2f1;
    background-color: #3aafa9;
    padding: 15px;
    height: 50px;
    text-align: end;
    text-shadow: 0px 0px 1px #2b7a78;
    width: 100%;
}

.topbar {
    color: #3aafa9;
    background-color: #17252a;
    padding: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
}

a.home_button {
    font-size: larger;
    font-variant: initial;
}

a.home_button.current {
    color: #2b928f;
}

a.topbar_link {
    color: #feffff;
    font-size: large;
    padding-left: 10px;
}

a.topbar_link.current {
    color:#3aafa9;
}

.main {
    padding: 40px;
    text-align: left;
    width: 100%;
    max-width: 960px;
    
}

.hidden {
    display: none !important;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #3aafa9;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-style: italic;
}

#author-quote {
    padding: 10px;
    margin-top: 10px;
    font-size: small;
}

#search-box {
    margin-bottom: 15px;
    background-color: #feffff;
    border: 2px solid #2b928f;
    font-size: medium;
    padding: 5px;
}

#search-box:focus {
    -moz-box-shadow: 0 0 8px #2b928f;
    -webkit-box-shadow: 0 0 8px #2b928f;
    box-shadow: #2b928f 0 0 8px;
    border: 1px solid #2b928f;
}

#search-clear {
    background-color: #2b7a78;
    color: #feffff;
    border: 1px solid #195351;
    padding: 5px;
}

#search-nores {
    padding-top: 15px;
}

a {
    color: #2b7a78;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

div.bookname {
    font-variant: initial;
    font-size: larger;
    font-weight: 600;
    color: #195351;
}
div.author {
    font-style: italic;
}

h1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.error {
    color: red;
}

ul {
    padding: 0px;
}
li {
    display: block;
    margin-block-end: 20px;
    padding: 15px;
    background-color: #feffff;
    box-shadow: #2b7a775d 3px 3px 3px;
}

li:hover {background-color: #3aafa973;}

.coverwrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.sidetocover {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.textcontent {
    padding-bottom: 15px;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

article {
    padding-top: 10px;
    margin-right: 60px;
    text-indent: 30px;

}

img {
    max-width: 10em;
    object-fit: contain;
    padding: 10px;
    display: block;
}

.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-style {
    background-color: #feffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #2b7a78;
    width: 100%;
    max-width: 350px;
}

.form-section {
    padding-bottom: 10px;
}

.form-label {
    padding-bottom: 5px;
}

.form-box {
    padding: 5px;
    border: 1px solid #2b7a78;
    background-color: #def2f1;
}

.form-box:focus {
    box-shadow: #2b7a78 0 0 3px;
}

.button {
    border: none;
    padding: 5px;
    background-color: #2b928f;
    color: #feffff;
}

.flashmessage{
    background-color: #def2f1;
    color: #17252a;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.5s;
}

.flashmessage.dissmised {
    pointer-events: none;
    opacity: 0;
}

.flashmess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
}
