*, 
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #def2f1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
    min-height: 100%;
}

.header {
    color: #def2f1;
    background-color: #3aafa9;
    padding: 15px;
    height: 50px;
    text-align: end;
    text-shadow: 2px 1px 1px #17252a;
}

.main {
    padding: 40px;
    text-align: left;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #3aafa9;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbar {
    color: #3aafa9;
    background-color: #17252a;
    padding: 10px;
    height: 60px;
    font-size: x-large;
    font-weight: 500;
    font-variant: initial;
    display: flex;
    align-items: center;
}

a.topbar_link {
    color: #feffff;
    font-size: medium;
    padding: 5px;
}

.nopaddingdiv{
    padding: 0px;
}

a {
    color: #2b7a78;
}

div.bookname {
    font-variant: initial;
    font-size: larger;
    font-weight: 600;
    color: #195351;
}
div.author {
    font-style: italic;
}


h1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}


.error {
    color: red;
}

ul {
    padding: 0px;
}
li {
    display: block;
    margin-block-end: 20px;
    padding: 15px;
    background-color: #feffff;
    box-shadow: #2b7a775d 3px 3px 3px;
}

li:hover {background-color: #3aafa973;}


.flashmessage{
    background-color: #feffff;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.5s;
}
.flashmessage.dissmised {
    pointer-events: none;
    opacity: 0;
}
.flashmess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
