beautifulsoup4==4.8.1
Click==7.0
Flask==1.1.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.1
Flask-Static-Compress==1.0.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
jac==0.17.2
Jinja2==2.10.3
MarkupSafe==1.1.1
ordereddict==1.1
python-dotenv==0.10.3
rjsmin==1.1.0
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.12
Werkzeug==0.16.0
WTForms==2.2.1
