<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>BookEnthusiast</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="flashmess">
        {% for message in get_flashed_messages() %}
        <p class="flashmessage">
            {{ message }}
            <button class="dissmiss">x</button>
        </p>
        {% endfor %}
    </div>
    
    <div class="wrapper">
        <div class="topbar">
            <a class="home_button {% if current_url=='index' %} current {% endif %}" href="{{ url_for('index') }}">
                <div>
                    <h3>
                        BookEnthusiast:
                    </h3>
                </div>
            </a>
            <a class ="topbar_link {% if current_url=='list_of_books' %} current {% endif %}" href="{{ url_for('list_of_books') }}">Books</a>
            <a class="topbar_link {% if current_url=='profile' %} current {% endif %}" href="{{ url_for('profile') }}">Profile</a>
        </div>
        <header class="header">
            {% if current_user.is_authenticated %}
            {{ current_user.username }}
            <a href="{{ url_for('logout') }}">Sign out</a>
            {% endif %}
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <p>
                “Books break the shackles of time – proof that humans can work magic.”
                <p id="author-quote">Carl Sagan</p> 
            </p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
