<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Book Enthusiast!</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flashmess">
        {% for message in get_flashed_messages() %}
        <p class="flashmessage">
            {{ message }}
            <button class="dissmiss">x</button>
        </p>
        {% endfor %}
    </div>

    <div class="wrapper">
        <div class="topbar">
            BookEnthusiast: <a class="topbar_link" href="{{ url_for('index') }}">Home</a>
            <a class ="topbar_link" href="{{ url_for('list_of_books') }}">Books</a>
            <a class="topbar_link" href="{{ url_for('profile') }}">Profile</a>
        </div>
        <header class="header">
            {% if current_user.is_authenticated %}
            {{ current_user.username }}
            <a href="{{ url_for('logout') }}">Sign out</a>
            {% endif %}
        </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>This is footer</p>
    </footer>
</div>
<script>
    let print = console.log
    const handleFlashButtonClick = (event => {
        const {target} = event
        const flashed = target.closest('.flashmessage')
        flashed.classList.add('dissmised')
    })

    const buttons = document.querySelectorAll('.flashmessage .dissmiss')
    print(buttons)
    buttons.forEach((button) => {
        button.addEventListener('click', handleFlashButtonClick)
    })

    print('A')
    setTimeout(() => {
    print('B')
    }, 0)
    print('C')

</script>
</body>

</html>
