{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <h1>
            List of All Books in Our Database
        </h1>
        <div class="nopaddingdiv">
            <ul>
                {% for book in all_books %}
                    <li><div class="bookname">{{ book.name }}</div>
                        <div class='author'>by {{ book.author.name }}</div>
                        <article><h5>Synopsis:</h5> 
                            <p>{{ book.synopsis }}</p>
                        </article>
                        {% if book.id in book_status and book_status[book.id]['book_status'] == 'reading' %}
                            <div>Status: reading</div>
                            <div>Rating:
                                {% for rating in range(1,6) %}
                                <a href="{{ url_for('set_status', book_id= book.id, status= 'read', rating=rating) }}">{{ rating }}</a>
                                {% endfor %}
                            </div>
                        {% elif book.id in book_status and book_status[book.id]['book_status'] == 'read' %}
                            <div>Status: read</div>
                            <div>Rating:
                                {% for rating in range(1,6) %}
                                <a href="{{ url_for('set_status', book_id= book.id, status= 'read', rating=rating) }}">{{ rating }}</a>
                                {% endfor %}
                            </div>
                            <div>{{ current_user.username }} 's Rating: {{ book_status[book.id]['book_rating'] }}</div>
                        {% else %}
                            <div>Status:
                                <a href="{{ url_for('set_status', book_id= book.id, status= 'reading') }}">Add to currently reading</a>
                            </div>
                        {% endif %}
                            <div>Average rating:
                                {% if avg_rating_dict[book.id] %}
                                    {{ avg_rating_dict[book.id] }}
                                {% else %}
                                    Not rated yet
                                {% endif %}
                            </div>
                            <div>
                                {% if book.cover %}
                                    <img src="{{ url_for('static', filename=book.cover) }}" alt="Cover">
                                {% endif %}
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <br>
            <p>Is there a book you would like to read but it's not on this list? Easy! You can add it <a href="{{ url_for('add_a_book') }}">here</a>.</p>
            <br>
        </div>
    </div>
{% endblock %}
