{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <h1>
            List of All Books in Our Database
        </h1>
        <input id="search-box" type="text" placeholder='Type to search'>
        <button id="search-clear" class="hidden" type="button">&times;</button>
        <p id="search-nores" class="hidden">No results.</p>
        <div>
            <ul>
                {% for book in all_books %}
                    <li id="book-{{ book.id }}" class="book-search-target" data-name="{{ book.name }}" data-author="{{ book.author.name }}">
                        <div class="coverwrapper">
                            <div class="sidetocover">
                                <div class="textcontent">
                                    <div class="bookname">
                                        {{ book.name }}
                                    </div>
                                    <div class='author'>
                                        by {{ book.author.name }}
                                    </div>
                                    <article>
                                        <p>
                                            {{ book.synopsis }}
                                        </p>
                                    </article>
                                </div>
                                <div class="status">
                                    <div class="changeable">
                                        {% if book.id in book_status %}
                                            <div>
                                                Status: {{ book_status[book.id]['book_status'] }}
                                            </div>
                                            <div>
                                                Rating:
                                                <div class="star-rating-wrapper">
                                                    {% for rating in range(1,6) %}
                                                    <a class="star-rating" data-rating-value="{{ rating }}" href="{{ url_for('set_status', book_id= book.id, status= 'read', next_url=current_url, rating=rating) }}">{{ rating }}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if book.id not in book_status %}
                                            <div>
                                                Status:
                                                <a href="{{ url_for('set_status', book_id= book.id, status= 'reading', next_url=current_url) }}">Add to currently reading</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="ratings">
                                        {% if book.id in book_status and book_status[book.id]['book_status'] == 'read' %}
                                            <div>
                                                Your Rating: {{ book_status[book.id]['book_rating'] }}
                                            </div>
                                        {% endif %}
                                        <div>Average rating:
                                            {% if avg_rating[book.id] %}
                                                <div class="Stars" style="--rating:{{ avg_rating[book.id] }}" title="{{ avg_rating[book.id] }}"">
                                                </div>
                                            {% else %}
                                                Not rated yet
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cover">
                                {% if book.cover %}
                                    <img src="{{ url_for('static', filename=book.cover) }}" alt="Cover">
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <br>
            <p>
                Is there a book you would like to read but it's not on this list? Easy! You can add it <a href="{{ url_for('add_a_book') }}">here</a>.
            </p>
            <br>
        </div>
    </div>
    <script>

        const show = (element) => {
            element.classList.remove('hidden')
        }

        const hide = (element) => {
            element.classList.add('hidden')
        }

        const searchInput = document.getElementById('search-box')
        const searchClear = document.getElementById('search-clear')
        const searchNores = document.getElementById('search-nores')
        const bookSearchTarget = document.querySelectorAll('.book-search-target')

        

        const filterList = (searchValue) => {
            const filter = searchValue.toLowerCase()

            if (filter) {
                show(searchClear)
            } else {
                hide(searchClear)
            }

            bookSearchTarget.forEach((book) => {
                const name = book.dataset.name.toLowerCase()
                const authorName = book.dataset.author.toLowerCase()
                
                if (name.includes(filter) || authorName.includes(filter)){
                    show(book)
                } else {
                    hide(book)
                }
            })

            const hiddenBooks = document.querySelectorAll('.book-search-target.hidden')

            if (hiddenBooks.length === bookSearchTarget.length) {
                show(searchNores)
            } else {
                hide(searchNores)
            }
        }


        searchInput.addEventListener('keyup', (event) => {
            filterList(event.target.value)
        })

        searchClear.addEventListener('click', (event) => {
            filterList('')
            searchInput.value = ''
        })
    
        const allStars = document.querySelectorAll('.star-rating')
        allStars.forEach((star) => {
            star.addEventListener('mouseover', (event) => {
                const ratingValue = star.dataset.ratingValue
                const bookStars = star.closest('.star-rating-wrapper').querySelectorAll('.star-rating')

                bookStars.forEach((bookStar) => {
                    if (bookStar.dataset.ratingValue <= ratingValue) {
                        bookStar.classList.add('highlighted')
                    } else {
                        bookStar.classList.remove('highlighted')
                    }
                })
                
            })
        })

        const starParentDivs = document.querySelectorAll('.star-rating-wrapper')
        starParentDivs.forEach((div) => {
            div.addEventListener('mouseout', (event) => {
                console.log(event.target)
                const starsWithin = div.querySelectorAll('.star-rating')
                starsWithin.forEach((star) => {
                    star.classList.remove('highlighted')
                })
            })
        })
    </script>

{% endblock %}
