{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h1>Hello, {{ current_user.username }}!</h1>
        <h2>Books you are currenly reading:</h2>
        <div>
            <ul>
                {% for book in reading_books %}
                    <li>
                        <div class="bookname">{{ book.book.name }}</div>
                        <div class="author">{{ book.book.author.name }}</div>
                        <article><h5>Synopsis:</h5> 
                            <p>{{ book.book.synopsis }}</p>
                        </article>
                        <div>Rate a Book:
                            {% for rating in range(1,6) %}
                            <a href="{{ url_for('set_status', book_id= book.book.id, status= 'read', rating=rating) }}">{{ rating }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h2>Book you have already read:</h2>
        <div>
            <ul>
                {% for book in read_books %}
                    <li>
                        <div class="bookname">{{ book.book.name }}</div>
                        <div class="author">{{ book.book.author.name }}</div>
                        <article><h5>Synopsis:</h5> 
                            <p>{{ book.book.synopsis }}</p>
                        </article>
                        <div>Change rating:
                            {% for rating in range(1,6) %}
                            <a href="{{ url_for('set_status', book_id= book.book.id, status= 'read', rating=rating) }}">{{ rating }}</a>
                            {% endfor %}
                        </div>
                        <div>Your rating:{{ book.rating }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
