{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h1>Hello, {{ current_user.username }}!</h1>
        <h2>Books you are currenly reading:</h2>
        <div>
        {% if not reading_books %}
            <p>No books here. Sorry!</p>
            <p>You can find books to read <a href="{{ url_for('list_of_books') }}">here.</a></p>
        {% endif %}
            <ul>
                {% for book in reading_books %}
                    <li id="book-{{ book.book_id }}">
                        <div class="coverwrapper">
                            <div class="sidetocover">
                                <div class="textcontent">
                                    <div class="bookname">
                                        {{ book.book.name }}
                                    </div>
                                    <div class="author">
                                        {{ book.book.author.name }}
                                    </div>
                                    <article>
                                        <p>
                                            {{ book.book.synopsis }}
                                        </p>
                                    </article>
                                </div>
                                <div class="status">
                                    <div>
                                        Rate a Book:
                                        <div class="star-rating-wrapper">
                                            {% for rating in range(1,6) %}
                                            <a class="star-rating" data-rating-value="{{ rating }}" href="{{ url_for('set_status', book_id= book.id, status= 'read', next_url=current_url, rating=rating) }}">{{ rating }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>
                                        Average rating:
                                            {% if avg_rating[book.book.id] %}
                                                <div class="Stars" style="--rating:{{ avg_rating[book.book.id] }}" title="{{ avg_rating[book.book.id] }}"">
                                                </div>
                                            {% else %}
                                                Not rated yet
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="cover">
                                {% if book.book.cover %}
                                    <img src="{{ url_for('static', filename=book.book.cover) }}" alt="book.book.name">
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h2>
            Book you have already read:
        </h2>
        <div>
            {% if not read_books %}
                <p>It seems you haven't finished reading any of our books yet.</p>
            {% endif %}
            <ul>
                {% for book in read_books %}
                    <li id="book-{{ book.book_id }}">
                        <div class="coverwrapper">
                            <div class="sidetocover">
                                <div class="textcontent">
                                    <div class="bookname">
                                        {{ book.book.name }}
                                    </div>
                                    <div class="author">
                                        {{ book.book.author.name }}
                                    </div>
                                    <article>
                                        <p>
                                            {{ book.book.synopsis }}
                                        </p>
                                    </article>
                                </div>
                                <div class="status">
                                    <div class="changeable">
                                        <div>
                                            Change rating:
                                            <div class="star-rating-wrapper">
                                                {% for rating in range(1,6) %}
                                                <a class="star-rating" data-rating-value="{{ rating }}" href="{{ url_for('set_status', book_id= book.id, status= 'read', next_url=current_url, rating=rating) }}">{{ rating }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <div>
                                            Your rating:{{ book.rating }}
                                        </div>
                                        <div>
                                            Average rating:
                                            {% if avg_rating[book.book.id] %}
                                                <div class="Stars" style="--rating:{{ avg_rating[book.book.id] }}" title="{{ avg_rating[book.book.id] }}"">
                                                </div>
                                            {% else %}
                                                Not rated yet
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cover">
                                {% if book.book.cover %}
                                    <img src="{{ url_for('static', filename=book.book.cover) }}" alt="book.book.name">
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
