{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="form-wrapper">
            <div class="form-darker-layer">
                <div class="form-inner-layer">
                    <h1>
                        Create an account
                    </h1>
                    <form action="{{ url_for('register') }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-input-pair">
                            <div class="form-label">
                                {{ form.username.label }}
                            </div>
                            {{ form.username(class="form-input") }}
                            {% for error in form.username.errors %}
                                <p class="error">
                                    {{ error }}
                                </p>
                                {% endfor %}
                        </div>
                        <div class="form-input-pair">
                            <div class="form-label">
                                {{ form.password.label }}
                            </div>
                            {{ form.password(class="form-input") }}
                            {% for error in form.username.errors %}
                            <p class="error">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                        <div class="form-input-pair">
                            <div class="form-label">
                                {{ form.password2.label }}
                            </div>
                            {{ form.password2(class="form-input") }}
                        </div>
                        <div class="form-input-pair">
                            {{ form.submit(class='button') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
